<div class="text-viewer">
  <nz-spin *ngIf="isLoading()" nzSimple class="viewer-spinner"></nz-spin>
  <div *ngIf="error()" class="viewer-error">{{ error() }}</div>
  <div *ngIf="!isLoading() && !error()" class="text-content-wrapper">
    <table class="text-table">
      <tbody>
        <tr *ngFor="let line of getLines(); let i = index">
          <td class="line-number">{{ i + 1 }}</td>
          <td class="line-content"><pre>{{ line }}</pre></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
