<nz-card [nzExtra]="extraTemplate">
  <ng-template #extraTemplate>
    <button *abpPermission="'KnowledgeHub.Documents.Create'" nz-button nzType="primary" (click)="createDocument()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      {{ '::NewDocument' | abpLocalization }}
    </button>
  </ng-template>

  <nz-card-meta
    [nzTitle]="'::Menu:Documents' | abpLocalization"
  ></nz-card-meta>

  <nz-table
    #basicTable
    [nzData]="document.items"
    [nzTotal]="document.totalCount"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[10, 20, 50]"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzShowTotal]="totalTemplate"
  >
    <thead>
      <tr>
        <th>{{ '::Actions' | abpLocalization }}</th>
        <th>{{ '::Name' | abpLocalization }}</th>
        <th>{{ '::Type' | abpLocalization }}</th>
        <th>{{ '::PublishDate' | abpLocalization }}</th>
        <th>{{ '::Price' | abpLocalization }}</th>
        <th>{{ '::Menu:Users' | abpLocalization }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <nz-space>
            <button *abpPermission="'KnowledgeHub.Documents.Edit'" nz-button nzType="link" (click)="editDocument(data.id)">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
              {{ '::Edit' | abpLocalization }}
            </button>
            <button *abpPermission="'KnowledgeHub.Documents.Delete'" nz-button nzType="link" nzDanger (click)="delete(data.id)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
              {{ '::Delete' | abpLocalization }}
            </button>
          </nz-space>
        </td>
        <td>{{ data.name }}</td>
        <td>{{ getDocumentTypeName(data.type) }}</td>
        <td>{{ data.publishDate | date }}</td>
        <td>{{ data.price | currency }}</td>
        <td>{{ data.userName }}</td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total>
    {{ '::TotalRecords' | abpLocalization }}: {{ total }}
  </ng-template>
</nz-card>

<nz-modal
  [(nzVisible)]="isModalOpen"
  [nzTitle]="(selectedDocument.id ? '::Edit' : '::NewDocument') | abpLocalization"
  (nzOnCancel)="isModalOpen = false"
  (nzOnOk)="save()"
  [nzOkDisabled]="form.invalid"
  [nzOkText]="'::Save' | abpLocalization"
  [nzCancelText]="'::Close' | abpLocalization"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>{{ '::Name' | abpLocalization }}</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="'::NameRequired' | abpLocalization">
          <input nz-input formControlName="name" [placeholder]="('::Name' | abpLocalization)" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>{{ '::Type' | abpLocalization }}</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="'::TypeRequired' | abpLocalization">
          <nz-select formControlName="type" [nzPlaceHolder]="('::SelectType' | abpLocalization)">
            <nz-option *ngFor="let type of documentTypes" [nzValue]="type.value" [nzLabel]="getDocumentTypeName(type.value)"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>{{ '::Menu:Users' | abpLocalization }}</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="'::UserRequired' | abpLocalization">
          <nz-select formControlName="userId" [nzPlaceHolder]="('::SelectUser' | abpLocalization)">
            <nz-option *ngFor="let user of users()" [nzValue]="user.id" [nzLabel]="user.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>{{ '::PublishDate' | abpLocalization }}</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="'::PublishDateRequired' | abpLocalization">
          <nz-date-picker formControlName="publishDate" style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>{{ '::Price' | abpLocalization }}</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="'::PriceRequired' | abpLocalization">
          <nz-input-number formControlName="price" [nzMin]="0" [nzStep]="1" style="width: 100%"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
